body, html {
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 $container-gutter;
  @include media(mobile) {
	padding: 0 $container-gutter-tablet;
  }
}

#page {
  width: 100%;
}

.site-content {
  overflow: hidden;
}
