html {
  font-size: $font-base;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $c-text;
  font-family: $font-body;
  font-weight: 400;
  font-size: 1rem;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
}

%p {
  color: $c-text;
  font-family: $font-body;
  font-weight: 400;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
}

%heading {
  font-family: $font-heading;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%small {
  font-size: 85%;
}

%big {
  font-size: 115%;
}

%block {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include media('mobile') {
	margin-top: 1em;
	margin-bottom: 1em;
  }
}

p,
button,
input,
select,
optgroup,
figcaption,
ul li,
ol li,
blockquote cite,
textarea {
  @extend %p;
}

h1, h2, h3, h4, h5, h6 {
  @extend %heading;
}

/**
Typography (matches backend)
 */
h2, h3, h4, ul, ol {
  @extend %block;
}

h2 {
  font-size: 1.95em;
  line-height: 1.4;
}

h3 {
  font-size: 1.56em;
  line-height: 1.4;
}

h4 {
  font-size: 1.25em;
  line-height: 1.5;
}

/**
List style
 */
ul {
  margin-left: 1.3em;
  padding-left: 1.3em;
  list-style: disc;
  li {
	margin-bottom: 6px;
  }
  ul {
	padding-left: 1.3em;
	margin: 0 0 0 1.3em;
	list-style: circle;
  }
}

p + p {
  margin-top: 1em;
}

p {
  a,
  a:visited {
	color: $c-primary;
	text-decoration: none;
	transition: all 0.3s ease;
  }
  a:hover {
	color: darken($c-primary, 10%);
  }
}
